
    <div class="row">
        <div class="col-6 p-4">
            <h3 class="text-center">FORMULARIO</h3>


            <div class="mb-3">
                <input [(ngModel)]="nombre" type="text" class="form-control"  placeholder="Nombre" >
            </div>
            <div class="mb-3">
                <input [(ngModel)]="edad" type="text" class="form-control" placeholder="Edad">
            </div>
            <button class="btn btn-primary" (click)="guardarDatos()">Guardar</button> 
        </div>

        <div class="col-6 p-4">
            <h3 class="text-center">LISTADO</h3>
            <ul class="list-group">
                <li class="list-item" *ngFor="let item of usuariosLista">
                    {{ item.nombre }}, {{ item.edad }} años
                </li>
            </ul>

        </div>
    </div>



<!-- 
    <h3 class="text-center">FORMULARIO</h3>


    <div class="mb-3">
        <input [(ngModel)]="nombre" type="text" class="form-control"  placeholder="Nombre" >
    </div>
    <div class="mb-3">
        <input [(ngModel)]="edad" type="text" class="form-control" placeholder="Edad">
    </div>
    <button class="btn btn-primary" (click)="guardarDatos()">Guardar</button> 
    
-->
    <!-- vamos a dar evento para el binding, donde necesitamos un metodo, si vamos con ngMOdel, sin parametros -->
